include ../../blocks/common/mixins
include ../../blocks/common/header
section(class='about box')
    +makeBackLink('menu')
    h1(class='box_header about__header')='About'
    span.about__content='This game presents an simplified airplane management. This is dynamically game, developed in JS (ES6) and Java (Spring).'