include ../../blocks/common/mixins
include ../../blocks/common/header
mixin makeProfileRow(...content)
    tr(class='profile__row')
        td(class='profile__column')
        -
            content.join('')
section(class='change box')
    +makeBackLink('menu')
    //h1(class='change__header')='Profile'
    //table(class='change__info profile')
    //    +makeProfileRow(img(class='profile__avatar', width=100, height='auto'))
    //    +makeProfileRow('Username', span.profile__username)
    //    +makeProfileRow('Email', span.profile__email)
    //    +makeProfileRow('Score', span.change__score)

    a(href='#' class='profile-form-activate')='Change profile'
    +makeForm('profile-form', [
        {
            id: 'email',
            name: 'email',
            label: 'Email',
            placeholder: 'Type your email',
            type: 'text'
        },
        {
            id: 'username',
            name: 'username',
            label: 'Username',
            placeholder: 'Type your username',
            type: 'text'
        },
        {
            id: 'password',
            name: 'password',
            label: 'Password',
            placeholder: 'Type your password',
            type: 'password'
        },
        {
            id: 'repeat_password',
            name: 'repeat_password',
            label: 'Retype password',
            placeholder: 'Retype your password',
            type: 'password'
        },
        {
            id: 'img',
            name: 'img',
            label: 'Upload an avatar',
            type: 'file'
        }
    ])
